body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e9ebee;
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Chat Card */
.chat {
    background: #ffffff;
    padding: 15px;
    margin: 15px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;

    transition: transform 0.1s ease-in-out;
}

.chat:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 8px rgba(16, 132, 158, 0.541);
}

/* Text styling */
.chat p {
    margin: 6px 0;
    color: #444;
}

.msg {
    background: #d8f7ff;
    padding: 10px;
    border-left: 4px solid #00a8cc;
    border-radius: 6px;
    margin: 8px 0;
    font-size: 15px;
    color: #333;
}

/* Divider */
hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 12px;
}

button {
    background-color: #00a8cc;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #0089a8;
    box-shadow: 2px 2px 8px rgba(16, 132, 158, 0.541);
    transform: scale(1.04);
}

.timestamp {
    margin-top: 10px;
    padding: 8px;
    background: #f0f8ff;
    border-left: 4px solid #00a8cc;
    border-radius: 6px;
    font-size: 13px;
    color: #444;
}

.timestamp .time {
    font-weight: bold;
    color: #0089a8;
}

.timestamp .date {
    font-size: 12px;
    color: #666;
}

